<script src="http://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
<script>
    var sock;

    function new_connect() {
        var authenticated, subscribed = false;
        //sock = new SockJS('http://dev.crowcloud.xyz:9880/sockjs/');
        sock = new WebSocket('ws://dev.crowcloud.xyz:9880/sockjs/websocket');

        sock.onopen = function() {
          console.log('open');
          authenticated = true;
          sock.send('{"type": "authentication", "value": "aSmf0MJ6P8UZshSydfAfmKsKS5Nnh4"}');
        };

        sock.onmessage = function(obj) {
          console.log(obj);
          if (authenticated && !subscribed) {
              sock.send('{"type": "subscribe", "value": 33}');
              subscribed = true;
          }
        };

        sock.onclose = function() {
          console.log('close');
          window.setTimeout(new_connect, 1000);
        };
    }

    new_connect();
</script>
